:root {
  --primary-color: #172488;
  --secondary-color: #dbd0fb;
  --third-color: #5145c3;
  --fourth-color: #f1f2eb;
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--fourth-color);
  font-family: "Orbitron", sans-serif;
  background-size: cover;
  background-image: url("/source/images/pixelland.jpg");
}
h1 {
  color: white;
  text-align: center;
  padding-top: 60px;
  font-size: 72px;
}
hr {
  width: 160px;
  display: block;
  margin: 0 auto;
  color: white;
}
h6 {
  color: white;
  text-align: center;
}
.initial {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  height: 360px;
  border-radius: 50px 0px 0px 50px;
  padding: 40px;
  box-shadow: 3px 3px 10px var(--primary-color);
  opacity: 0.9;
  margin: 50px 0px 80px 60px;
}
.result {
  background-color: var(--primary-color);
  color: white;
  height: 360px;
  border-radius: 0px 50px 50px 0px;
  padding: 40px;
  box-shadow: 3px 3px 16px var(--primary-color);
  opacity: 0.9;
  margin: 50px 60px 60px 0px;
}
.listen {
  font-size: 28px;
  color: var(--primary-color);
}
.listen2 {
  font-size: 28px;
  color: white;
}
.search-word,
.form-select {
  padding: 6px 30px;
  width: 100%;
  border: 1px solid rgb(184, 182, 182);
  border-radius: 4px;
  margin: 12px 0px;
  color: var(--primary-color);
}
#submit-btn {
  padding: 6px 30px;

  border: 1px solid rgb(184, 182, 182);
  border-radius: 4px;
  margin: 12px 0px;
  background-color: var(--third-color);
  color: white;
}
.translation {
  overflow: hidden;
}
footer {
  text-align: center;
  font-size: small;
  color: white;
  margin-bottom: 20px;
}
footer a {
  color: white;
}
@media (width<781px) {
  .initial {
    border-radius: 50px;
    margin: 30px;
    height: auto;
  }
  .result {
    border-radius: 50px;
    margin: 30px;
    height: auto;
  }
  h1 {
    padding-top: 40px;
    font-size: 56px;
  }
}
